@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(#51B5A8, #7E54F5);
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik';
}

h1 {
	color: #C7B0AE;
	font-size: 4em;
	font-weight: 100;
}

h2 {
	color: transparent;
	font-size: 4em;
	font-weight: 700;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: #C7B0AE;
}

h3 {
	font-weight: bold;
	color: #6E6E6E;
}

p {
	color: #6E6E6E;
}

a {
	text-decoration: none;
	color: #6E6E6E;
	font-size: 18px;
	padding: 0 2rem;
}

a:visited {
	color: #6E6E6E;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.background-layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	z-index: -1;
}

.left-corner-gradient {
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	width: 500px;
	height: 125px;
	background-image: url("assets/svg/left-corner.svg");
}

.right-corner-gradient {
	position: fixed;
	z-index: 9;
	bottom: 0;
	right: 0;
	width: 500px;
	height: 125px;
	background-image: url("assets/svg/right-corner.svg");
}

.container {
	padding: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.images {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* IMG CLASS SECTION */

/* ABOUT PAGE */

.cover-selfie {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 75%;
}

/* ILLUSTRATION PAGE */

.illustration {
	width: 20vw;
	border-radius: 10px;
	height: auto;
	margin: 1rem;
	box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.1);
}

/* UI UX PAGE */

.visual {
	width: 90%;
	max-width: 400px;
	border-radius: 10px;
	height: auto;
	margin: 1rem 0;
	box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
}

.cover, .overview, .dashboard, .detail {
	height: auto;
	width: 60%;
	max-width: 250px;
	position: absolute;
	border-radius: 10px;
	box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);
}

.cover {
	left: 0;
	top: 0;
}

.overview {
	left: 50px;
	top: 25px;
}

.detail {
	left: 100px;
	top: 50px;
}

.dashboard {
	left: 150px;
	top: 75px;
}

.mockup {
	border-radius: 10px;
	width: 90%;
	max-width: 400px;
	height: auto;
	margin-top: 3.5rem;
	float: right;
	box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.1);

}

/* PETIT FAMILY PAGE */ 

.petit-family-visual {
	max-height: 50vh;
	max-width: 45vw;
	width: auto;
	height: auto;
}

/* AUTOTRADE AHRENSBURG PAGE  */

.aa-scribble {
	width: 30vw;
	margin: 0 2rem;
}
.business-card {
	width: 15vw;
}
.business-card.top {
	margin-bottom: 3.5rem;
}
.logo {
	width: 60%;
}
.logo.top {
	width: 60%;
	margin-bottom: 3.5rem;
}

/* EISLOFT PAGE */

.front-view {
  max-width: 70%;
  width: auto;
  max-height: 60vh;
  height: auto;
  border-radius: 10px;
  margin: 0 2rem;
  box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
}

/* VERMONT17 PAGE */

.logo-v17 {
  width: 65%;
}

.hoodie {
  border-radius: 10px;
  box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px -10px 21px 1px rgba(0,0,0,0.2);
  margin: 0 2rem;
  max-width: 25vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

@media screen and (max-width: 1024px) {
	html, body {
		height: auto;
	}
	.container {
		flex-direction: column;
	}

	.images {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.illustration {
		width: 100%;
	}

	.aa-scribble, .business-card, .logo {
		width: 90%;
		margin: 2rem auto;
	}

	.hoodie {
    max-width: 60vw;
    margin: 2rem 0;
  }

	.petit-family-visual {
		max-width: 90vw;
	}
}